<!-- Start: Header-->
<!-- Page Header-->
<!--
---------------------------------------------------------------+
".navbar" Helper Classes:
-------------------------------------------------------------------+
* Positioning Classes:
'.navbar-static-top' - Static top positioned navbar
'.navbar-fixed-top' - Fixed top positioned navbar
* Available Skin Classes:
.bg-dark    .bg-primary   .bg-success
.bg-info    .bg-warning   .bg-danger
.bg-alert   .bg-system
-------------------------------------------------------------------+
Example: <header class="navbar navbar-fixed-top bg-primary">
Results: Fixed top navbar with primary background
-----------------------------------------------------------------
-->
<header class="navbar navbar-shadow navbar-fixed-top" ui-view="header"></header>
<!-- Start: Sidebar-->
<!--
---------------------------------------------------------------+
"#sidebar_left" Helper Classes:
-------------------------------------------------------------------+
* Positioning Classes:
'.affix' - Sets Sidebar Left to the fixed position
* Available Skin Classes:
.sidebar-dark (default no class needed)
.sidebar-light
.sidebar-light.light
-------------------------------------------------------------------+
Example: <aside id="sidebar_left" class="affix sidebar-light">
Results: Fixed Left Sidebar with light/white background
-----------------------------------------------------------------
-->
<!-- Start: Sidebar-->
<aside id="sidebar_left" class="nano nano-light affix" ui-view="left-sidebar"></aside>
<!-- Start: Content-Wrapper-->
<section id="content_wrapper">
  <!-- Start: Topbar-Dropdown-->
  <div id="topbar-dropmenu" class="alt">
    <div class="topbar-menu row">
      <div class="col-xs-4 col-sm-2"><a href="#" class="metro-tile bg-primary light"><span class="glyphicon glyphicon-inbox text-muted"></span><span class="metro-title">Messages</span></a></div>
      <div class="col-xs-4 col-sm-2"><a href="#" class="metro-tile bg-info light"><span class="glyphicon glyphicon-user text-muted"></span><span class="metro-title">Users</span></a></div>
      <div class="col-xs-4 col-sm-2"><a href="#" class="metro-tile bg-success light"><span class="glyphicon glyphicon-headphones text-muted"></span><span class="metro-title">Support</span></a></div>
      <div class="col-xs-4 col-sm-2"><a href="#" class="metro-tile bg-system light"><span class="glyphicon glyphicon-facetime-video text-muted"></span><span class="metro-title">Videos</span></a></div>
      <div class="col-xs-4 col-sm-2"><a href="#" class="metro-tile bg-warning light"><span class="fa fa-gears text-muted"></span><span class="metro-title">Settings</span></a></div>
      <div class="col-xs-4 col-sm-2"><a href="#" class="metro-tile bg-alert light"><span class="glyphicon glyphicon-picture text-muted"></span><span class="metro-title">Pictures</span></a></div>
    </div>
  </div>
  <!-- Start: Topbar-->
  <header id="topbar" class="alt" ui-view="top-bar">
    <div class="topbar-left">
      <ol class="breadcrumb">
        <li class="crumb-active"><a href="/">Dashboard</a></li>
        <li class="crumb-icon"><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
        <li class="crumb-link"><a href="/">Home</a></li>
        <li class="crumb-trail">Dashboard</li>
      </ol>
    </div>
    <div class="topbar-right">
      <div class="ib topbar-dropdown">
        <label for="topbar-multiple" class="control-label pr10 fs11 text-muted">Reporting Period</label>
        <select id="topbar-multiple" class="hidden">
          <optgroup label="Filter By:">
            <option value="1-1">Last 30 Days</option>
            <option value="1-2" selected="selected">Last 60 Days</option>
            <option value="1-3">Last Year</option>
          </optgroup>
        </select>
      </div>
      <div id="toggle_sidemenu_r" class="ml15 ib va-m"><a href="#" class="pl5"><i class="fa fa-sign-in fs22 text-primary"></i><span class="badge badge-hero badge-danger">3</span></a></div>
    </div>
  </header>
  <!-- Begin: Content-->
  <section id="content" class="table-layout animated fadeIn" ui-view="content"></section>
  <!-- Begin: Page Footer-->
  <footer id="content-footer" class="affix">
    <div class="row">
      <div class="col-xs-6"><span class="footer-legal">&copy; 2016 EnergyMonitor</span></div>
      <div class="col-xs-6 text-right">
        <!--<span class="footer-meta">{{storageSpace.freeMegaBytes}} of<b> {{storageSpace.totalMegaBytes}} </b> Free</span>-->
        <a href="#content" class="footer-return-top"><span class="fa fa-arrow-up"></span></a>
      </div>
    </div>
  </footer>
</section>
<!-- Start: Right Sidebar-->
<aside id="sidebar_right" class="nano affix" ui-view="right-sidebar"></aside>
