<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Site Title-->
  <title>Monster Dashboard</title>
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <link rel="icon" href="assets/img/favicon.ico" type="image/x-icon">
  <!-- Stylesheets-->
  <link rel="stylesheet" type="text/css" href="assets/admin-tools/admin-forms/css/admin-forms.css">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Oxygen:400,300,700">
  <link rel="stylesheet" type="text/css" href="assets/skin/default_skin/css/theme.css">
  <!--[if lt IE 10]>
  <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
  <script src="js/html5shiv.min.js"></script>
  <![endif]-->
</head>
<body class="external-page external-alt sb-l-c sb-r-c">
<!-- Start: Main-->
<div id="main" class="animated fadeIn">
  <!-- Start: Content-Wrapper-->
  <section id="content_wrapper">
    <!-- Begin: Content-->
    <section id="content">
      <div id="login" class="center-block">
        <!-- Login Logo-->
        <div class="row table-layout"><a href="index.html" title="Return to Dashboard"><img src="assets/img/logos/logo.png" title="TemplateMonster Logo" style="max-width: 275px;" class="center-block img-responsive"></a></div>
        <!-- Login Panel/Form-->
        <div class="panel mt30 mb25">
          <form id="contact" method="post" action="/">
            <div class="panel-body p15 pt40">
              <h3 class="text-center mtn">Sign in page</h3>
              <div class="section mt35">
                <input id="username" type="text" name="username" placeholder="Enter User Name" class="form-control">
              </div>
              <div class="section mt15">
                <input id="password" type="password" name="password" placeholder="Enter User Password" class="form-control">
              </div>
              <div class="clearfix mt20">
                <div class="pull-left">
                  <div class="checkbox-custom checkbox-default">
                    <input id="checkboxDefault2" type="checkbox" checked="">
                    <label for="checkboxDefault2" class="fw400">Remember me</label>
                  </div>
                </div>
                <div class="pull-right"><a href="#">Forgot password?</a></div>
              </div>
              <button type="submit" class="mt20 btn btn-block btn-default">Sign In!</button>
              <p class="mt25">Haven't yet registration? <a href="#" class="link">Sign up here</a></p>
              <div class="login-share"><a href="#" class="facebook">Facebook</a><a href="#" class="google">Google+</a></div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </section>
</div>
<!-- core scripts-->
<script src="plugins/core.min.js"></script>
<!-- Theme Javascript-->
<script src="assets/js/utility/utility.js"></script>
<script src="assets/js/demo/demo.js"></script>
<script src="assets/js/main.js"></script>
<!-- Page Javascript-->
<script type="text/javascript">
  jQuery(document).ready(function () {
    "use strict";
    // Init Theme Core
    Core.init();
    // Init Demo JS
    Demo.init();
  });
</script>
</body><!-- Google Tag Manager --><noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-N7VWVN" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push( {'gtm.start': new Date().getTime(),event:'gtm.js'} );var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f); })(window,document,'script','dataLayer','GTM-N7VWVN');</script> <!-- End Google Tag Manager -->
</html>
