<!DOCTYPE html>
<html lang="en">
  <head>
      <title>{{title}}</title>
      <!--<meta name="format-detection" content="telephone=no">-->
      <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
      <meta http-equiv="X-UA-Compatible" content="IE=Edge">
      <meta charset="UTF-8">
      <meta http-equiv="Content-Language" content="en">
      <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
      <!-- Stylesheets-->
      <link rel="stylesheet" type="text/css" href="assets/plugins/css/summernote.css">
      <link rel="stylesheet" type="text/css" href="assets/plugins/css/fullcalendar.min.css">
      <link rel="stylesheet" type="text/css" href="assets/assets/admin-tools/admin-forms/css/admin-forms.min.css">
      <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Oxygen:400,300,700">
      <link rel="stylesheet" type="text/css" href="assets/skin/default_skin/css/theme.css">
      <link rel='stylesheet' href='/css/style.css' />
      <!--[if lt IE 10]>
        <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
        <script type="text/javascript" src="node_modules/es5-shim/es5-shim.min.js"></script>
      <![endif]-->
  </head>
<!--
    -----------------------------------------------------------+
    <body> Helper Classes:
    ---------------------------------------------------------------+
    '.sb-l-o' - Sets Left Sidebar to "open"
    '.sb-l-m' - Sets Left Sidebar to "minified"
    '.sb-l-c' - Sets Left Sidebar to "closed"
    '.sb-r-o' - Sets Right Sidebar to "open"
    '.sb-r-c' - Sets Right Sidebar to "closed"
    ---------------------------------------------------------------+
    Example: <body class="example-page sb-l-o sb-r-c">
    Results: Sidebar left Open, Sidebar right Closed
    -------------------------------------------------------------
-->
    <body class="dashboard-page">
        <!-- Start: Main-->
        <div id="main">
            <!-- Start: Header-->
            <header class="navbar navbar-shadow undefined" ui-view="header"></header>
            <!-- Start: Sidebar-->
            {{>sidebar_left}}
            <!-- Start: Content-Wrapper-->
            <section id="content_wrapper">
                <!-- Begin: Content-->
                <section id="content" class="table-layout animated fadeIn" ui-view="content"></section>
                <!-- Begin: Page Footer-->
                <footer id="content-footer" class="affix">
                    <div class="row">
                        <div class="col-xs-6"><span class="footer-legal">&copy; 2016 SmartHome</span></div>
                        <div class="col-xs-6 text-right"><span class="footer-meta">{{storageSpace.freeMegaBytes}} of<b> {{storageSpace.totalMegaBytes}} </b> Free</span><a href="#content" class="footer-return-top"><span class="fa fa-arrow-up"></span></a></div>
                    </div>
                </footer>
            </section>
            <!-- Start: Right Sidebar-->
            {{>sidebar_right}}
        </div>
        <!-- core scripts-->
        <script src="assets/plugins/core.min.js"></script>
        <!-- Theme Javascript-->
        <!--<script src="assets/js/utility/utility.js"></script>-->
        <!--<script src="assets/js/demo/demo.js"></script>-->
        <!--<script src="assets/js/main.js"></script>-->
        <!-- Widget Javascript-->
        <!--<script src="assets/js/demo/widgets.js"></script>-->
        <script type="text/javascript">
            /*
            jQuery(document).ready(function () {
                "use strict";
                // Init Demo JS
                Demo.init();
                // Init Theme Core
                Core.init();
                //demoHighCharts.init();
                runVectorMaps();
                $(window).trigger('resize');

                var isotope = $(".isotope");

                if (isotope.length) {
                    var i, isogroup = [];
                    for (i = 0; i < isotope.length; i++) {
                        var isotopeItem = isotope[i]
                                , iso = new Isotope(isotopeItem, {
                                    itemSelector: '.isotope-item',
                                    layoutMode: isotopeItem.getAttribute('data-isotope-layout') ? isotopeItem.getAttribute('data-isotope-layout') : 'masonry',
                                    filter: '*'
                                });
                        isogroup.push(iso);
                    }

                    $(window).on('load', function () {
                        setTimeout(function () {
                            var i;
                            for (i = 0; i < isogroup.length; i++) {
                                isogroup[i].element.className += " isotope--loaded";
                                isogroup[i].layout();
                            }
                        }, 600);
                    });

                    $("[data-isotope-filter]").on("click", function (e) {
                        e.preventDefault();
                        var filter = $(this);
                        filter.parents(".isotope-filters").find('.active').removeClass("active");
                        filter.addClass("active");
                        var iso = $('.isotope[data-isotope-group="' + this.getAttribute("data-isotope-group") + '"]');
                        iso.isotope({
                            itemSelector: '.isotope-item',
                            layoutMode: iso.attr('data-isotope-layout') ? iso.attr('data-isotope-layout') : 'masonry',
                            filter: this.getAttribute("data-isotope-filter") == '*' ? '*' : '[data-filter*="' + this.getAttribute("data-isotope-filter") + '"]'
                        });
                    }).eq(0).trigger("click")
                }
            });
*/
/*
            jQuery(document).ready(function () {
                "use strict";
                // Init Theme Core
                Core.init();
                // Init Demo JS
                Demo.init();
                // Init CanvasBG and pass target starting location
                CanvasBG.init({
                    Loc: {
                        x: window.innerWidth / 2,
                        y: window.innerHeight / 3.3
                    },
                });
            });
*/
        </script>
    </body>
</html>
